<!DOCTYPE html>
<html>
<head>

	<!-- Required Meta Tag -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title -->
	<title>Pokemon App</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bahiana|Open+Sans" rel="stylesheet">

	<!-- Emoji CSS -->
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

	{{> navbar }}
	
	<div class="container">
		<h1>ES6 Pokemon App</h1>
		{{{ body }}}		
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Custom JS -->
	<script type="text/javascript" src="/../js/scripts.js"></script>
</body>
</html>