<!DOCTYPE html>
<html>
<head>

	<title>Pokemon App</title>

	 <!-- Materialize Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bahiana|Open+Sans" rel="stylesheet">

	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
	<div class="container">
		{{{ body }}}
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Materialize Compiled and minified JavaScript -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->

	<!-- Custom JS -->
	<script type="text/javascript" src="/../js/scripts.js"></script>
</body>
</html>