<h2>Search For Pokemon</h2>

<form class="search-form" action="">
		<p>Enter a valid Pokemon name to get details on a specific Pokemon.</p>
		<input id="specific-search" type="text" placeholder="Search for Pokemon">
</form>



<div class="pokemon-container"></div>

	<h1 id="loading">Searching
		<span class="dot" id="dot-one">.</span>
		<span class="dot" id="dot-two">.</span>
		<span class="dot" id="dot-three">.</span>
	</h1>

