<h2>Build Your Team</h2>

<form class="team-form" action="">
	<p>Enter a comma seperated list of Pokemon types. Ex: fire,ground</p>
	<input id="team-search" type="text" placeholder="Enter pokemon types">
</form>
	
<div class="pokemon-container"></div>
			
<h1 id="loading">Creating Team
	<span class="dot" id="dot-one">.</span>
	<span class="dot" id="dot-two">.</span>
	<span class="dot" id="dot-three">.</span>
</h1>

