<form class="team-form" action="">
	<p>Enter a comma seperated list of Pokemon types. Ex: fire,ground</p>
	<input id="team-search" type="text" placeholder="Enter trainer pokemon types">
</form>
	
	<div class="pokemon-container">
			
	<!-- <div class="pokemon">
		<img src="http://pokeapi.co/media/img/186.png">
		<h2>Suicune</h2>
	</div> -->

</div>