/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
	--yellow: #ffcc02;
	--red:	#c60000;
	--blue: #3b59a5;
};

@font-face {
	font-family: 'Pokemon Hollow';
  src: url(../fonts/pokemon_hollow.ttf);
}

@font-face {
	font-family: 'Pokemon Solid';
  src: url(../fonts/pokemon_solid.ttf);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes dotFadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 100
	}
	100% {
		opacity: 0;
	}
}

.dot {
	opacity: 0;
}

#dot-one {
	animation: dotFadeIn 2.5s infinite;
}

#dot-two {
	animation: dotFadeIn 2.5s 1s infinite;
}

#dot-three {
	animation: dotFadeIn 2.5s 1.5s infinite;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: var(--blue);
	color: var(--yellow);
}

h1, h3 {
	font-family: 'Pokemon Solid';
	font-size: 1.4rem;
	letter-spacing: 3px;
	color: var(--yellow);
	text-shadow: -2px 0 var(--red), 0 2px var(--red), 2px 0 var(--red), 0 -2px var(--red);
	margin-bottom: 30px;
}

h2 {
	font-family: 'Bahiana', cursive;
	color: var(--red);
	margin-top: 0;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	font-size: 12px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 30px;
	max-width: 1200px;
	margin: 0 auto;
}

.nav-link {
	text-decoration: none;
	color: var(--yellow);
	transition: color 0.5s ease;
}

.nav-links > a:hover {
	color: var(--red);
}

.nav-links > a {
	font-family: 'Bahiana', cursive;
	font-size: 1.2rem;
	padding-right: 10px;
}

.brand img {
	max-width: 50px;
	height: auto;
}

.brand img:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

.container {
	padding: 25px;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

form p {
	max-width: 300px;
	margin: 15px auto;
}

input {
	background: transparent;
	border: none;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 2px solid var(--red); 
	color: var(--yellow);
	width: 100%;
	margin-top: 20px;
}

input:focus {
	outline: none;
	transition: all ease 0.5s;
	border-bottom: 2px solid var(--yellow);
}

.pokemon-container {
	margin: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pokemon {
	flex: 1;
	text-align: center;
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
	border: 2px solid var(--yellow);
	max-width: 250px;
	margin: 10px 15px;
}

.pokemon p {
	font-size: 12px;
	margin: 5px 0;
}

.pokemon h2 {
	margin-bottom: 20px;
}

.pokemon-sprite {
	margin: 10px 0 0 0;
	height: 100px;
	width: 100px;
}

.pokemon-sprite.no-pic {
	height: 70px;
 	width: 70px;
  margin: 20px 0;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.btn {
	text-decoration: none;
	background: var(--yellow);
	color: var(--red);
	padding: 0.5rem 2rem;
	border-radius: 4px;
	border: 2px solid var(--red);
}

.about-link {
	color: var(--red);
	text-decoration: none;
}

.about-link:hover {
	text-decoration: underline;
}

@media all and (min-width: 540px) {
	.container {
		margin-top: 10vh;
	}
	input {
		width: 35%;
	}
	.nav-links > a {
		padding-right: 30px;
	}
	h1 {
		font-size: 2rem;
	}
}